.container{
        display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 50px);
    gap: 5px;

}
.text{
    font-size: 25px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: gold;
}
.text1{
    grid-column: span 1;
    
}
.text2{
    grid-column: span 11;
    
}
.text3{
    grid-column: span 2;
}
.text4{
    grid-column: span 10;

}
.text5{
    grid-column: span 3;
    
}
.text6{
    grid-column: span 9;

}
.text7{
    grid-column: span 4;

}
.text8{
    grid-column: span 8;
}
.text9{
grid-column:span 5;
}
.text10{
    grid-column: span 7;
}
.text11{
    grid-column: span 6;
}
.text12{
    grid-column: span 6;
}
.text13{
    grid-column: span 7;
}
.text14{
    grid-column: span 5;
}
.text15{
    grid-column: span 8;
  
}
.text16{
    grid-column: span 4;
}
.text17{
    grid-column: span 9;
}
.text18{
    grid-column: span 3;

}
.text19{
    grid-column: span 10;
}
.text20{
    grid-column: span 2;
}
.text21{
    grid-column: span 11;
}